<ion-view view-title="album"  hide-nav-bar="true">
  <ion-content>
    <div class="content_page album_content">
      <div class="page_title">
        <a class="nav_link cancel_link" ng-click="Cancel()">Cancel</a>
        <h4>album</h4>
        <a class="nav_link done_link" ng-click="Done()">Done</a><!-- later change to Done() -->
      </div><!-- /.page_title -->
      <div class="gallery_container clearfix">
        <div class="gallery_item" ng-repeat="item in album_images"
             item="item">
          <img ng-src="{{item.url}}" alt="" ng-class="{ clicked_img: item.isChoosed }" ng-click="Choose(item)">
        </div>
      </div>
    </div><!-- /.content_page -->
  </ion-content>
</ion-view>
