<ion-view view-title="album"  hide-nav-bar="true">
    <ion-content scroll="false">
      <div class="content_page map_Cols_page" style="
      width:100vw;
      height:100vh;">
        <button class="close_btn" ng-click="goBack()"></button>
        <div id="all_cols_mappppp"></div>
            <ul class="cols_list">
              <li class="single_col"
                  ng-repeat="item in all_cols_on_map"
                  item="item"
                  ng-click="goToColDetail(item)">
                <div class="image_col">
                  <img ng-src="{{item.image}}">
                  <span ng-class="{checked_cols: item.isVisited}"></span>
                </div>
                <div class="col_description">
                  <h5 class="col_name">{{item.col_name}} </h5>
                  <h6 class="col_height">{{item.col_height}} m</h6>
                </div>
              </li>
        </ul>
      </div>
    </ion-content>
  </ion-view>
  