<ion-view hide-nav-bar="true">
  <ion-content>
  <div class="content_page cart_page">
    <div class="page_title">
      <a ng-click="goBack()" class="go_back"></a>
      <h4>cart</h4>
    </div><!-- /.page_title -->

    <form class="cart_form">

      <div class="cart_block padding_block">
        <div class="total_price_block">
          <div class="row_block">
            <div class="col_block">
              <h5>Sub-total</h5>
            </div>
            <div class="col_block total_sum">
              usd <span>780.00</span>
            </div>
          </div>
          <div class="row_block">
            <div class="col_block">
              <h5>shipping</h5>
            </div>
            <div class="col_block total_sum">
              usd <span>0.00</span>
            </div>
          </div>
          <div class="row_block total_price">
            <div class="col_block">
              <h5>total price</h5>
            </div>
            <div class="col_block total_sum">
              usd <span>780.00</span>
            </div>
          </div>
        </div>

        <button class="yellow_button" ng-click="CheckOutSum()">checkout</button>

      </div>

      <div class="product_list">

        <div class="product_item">
          <div class="product_item_description clearfix">
            <figure>
              <img src="img/coat.png" alt="">
            </figure>
            <h6>Super Cross Jersey</h6>
            <p>Green</p>
          </div>
          <div class="product_count clearfix">
            <input type="number" name="product_count_field" placeholder="1" class="product_count_fld">
            <p class="pr_price">USD <span>260.00</span></p>
            <p class="pr_total_price">(1 x USD 130.00)</p>
          </div>
        </div>
        <div class="product_item">
          <div class="product_item_description clearfix">
            <figure>
              <img src="img/coat.png" alt="">
            </figure>
            <h6>Super Cross Jersey</h6>
            <p>Green</p>
          </div>
          <div class="product_count clearfix">
            <input type="number" name="product_count_field" placeholder="1" class="product_count_fld">
            <p class="pr_price">USD <span>260.00</span></p>
            <p class="pr_total_price">(1 x USD 130.00)</p>
          </div>
        </div>

      </div><!-- /.product_list -->

    </form>

  </div>
</ion-content>
</ion-view>

