<ion-view hide-nav-bar="true">
  <ion-content>
<div class="content_page cart_page">
  <div class="page_title">
    <a ng-click="goBack()" class="close_btn"></a>
    <h4>checkout</h4>
  </div><!-- /.page_title -->

  <div class="checkout_block padding_block">
    <form class="checkout_form">

      <h2>Address</h2>

      <div class="form-row">
        <label for="form_country">Country:</label>
        <select id="form_country" class="registration"><option>Ukraine</option><option>USA</option></select>
      </div>
      <div class="form-row">
        <label for="form_city">City:</label>
        <select id="form_city" class="registration choose_city"><option>Kyiv</option><option>Kharkiv</option></select>
      </div>
      <div class="form-row">
        <label for="form_address">Address:</label>
        <input type="text" id="form_address" class="registration" placeholder="address" name="f_address">
      </div>
      <div class="form-row">
        <label for="postal_code">Postal code</label>
        <input type="text" id="postal_code" class="registration" placeholder="postal code" name="post_c">
      </div>

      <div class="addressee_block">
        <h2>Addressee</h2>
        <div class="form-row">
          <label for="first_name">First name</label>
          <input type="text" id="first_name" class="registration" placeholder="first name" name="f_name">
        </div>
        <div class="form-row">
          <label for="second_name">Second name</label>
          <input type="text" id="second_name" class="registration" placeholder="second name" name="s_name">
        </div>
        <div class="form-row">
          <label for="second_name">Card number</label>
          <input type="text" id="card_number" class="registration" placeholder="card number" name="card_nbr">
        </div>
        <div class="form-row phone_select">
          <label for="phone">Phone</label>
          <input type="tel" id="phone"  class="registration" placeholder="" name="phone_nbr">
        </div>
        <p>Receive SMS updates about the timing of your shipping (carrier allowing).</p>
      </div>

      <button class="yellow_button">next</button>

    </form>
  </div>

  <div class="order_summary">

    <div class="product_list">
      <h2>Order summary</h2>

      <div class="product_item">
        <div class="product_item_description clearfix">
          <figure>
            <img src="../img/coat.png" alt="">
          </figure>
          <h6>Super Cross Jersey</h6>
          <p>Green</p>
        </div>
        <div class="product_count clearfix">
          <input type="number" name="product_count_field" placeholder="1" class="product_count_fld">
          <p class="pr_price">USD <span>260.00</span></p>
          <p class="pr_total_price">(1 x USD 130.00)</p>
        </div>
      </div>
      <div class="product_item">
        <div class="product_item_description clearfix">
          <figure>
            <img src="../img/coat.png" alt="">
          </figure>
          <h6>Super Cross Jersey</h6>
          <p>Green</p>
        </div>
        <div class="product_count clearfix">
          <input type="number" name="product_count_field" placeholder="1" class="product_count_fld">
          <p class="pr_price">USD <span>260.00</span></p>
          <p class="pr_total_price">(1 x USD 130.00)</p>
        </div>
      </div>

    </div><!-- /.product_list -->

    <div class="cart_block padding_block">
      <div class="total_price_block">
        <div class="row_block">
          <div class="col_block">
            <h5>Sub-total</h5>
          </div>
          <div class="col_block total_sum">
            usd <span>780.00</span>
          </div>
        </div>
        <div class="row_block">
          <div class="col_block">
            <h5>shipping</h5>
          </div>
          <div class="col_block total_sum">
            usd <span>0.00</span>
          </div>
        </div>
        <div class="row_block total_price">
          <div class="col_block">
            <h5>total price</h5>
          </div>
          <div class="col_block total_sum">
            usd <span>780.00</span>
          </div>
        </div>
      </div>


    </div>

  </div><!-- /.order_summary -->

</ion-content>
</ion-view>

