<ion-view hide-nav-bar="true">
  <ion-content>
      <div class="content_page col_detail">

        <div class="page_title">
          <button ng-click="GoBack()"class="go_back"></button>
          <div class="preference_btn" ng-click="goToSaveCol()"><button class="ic_bell" style="background-color: transparent"><img src="img/ic_add.png" alt=""></button></div>
        </div><!-- /.page_title -->

        <div class="cols_preview">
          <img ng-src="{{current_col_image}}" alt="" style="width:100%;max-height:430px;">
          <div class="cols_preview_description">
            <div>
              <div class="cols_preview_title">
                <h1> {{current_col_name}}<span ng-class="{ checked: current_col_is_checked }"> </span> </h1>
                <div class="distance_cols">{{height}} </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tabs_block clearfix">
          <ul>
            <li type="item-text-wrap"
                ng-style="{'width':(100/col_tab_array.length) + '%'}"
                ng-repeat="item in col_tab_array"
                item="item" class="item-style"
                ng-class="{ active: item.isActive }"
                ng-click="ChangeActive(item)">
              <span>{{item.from_name}}</span>
            </li>
          </ul>
        </div>

        <div class="see_on_strava">
          <div class="strava_block">
            <a ng-click="redirectToStrava()">See it on Strava</a>
            <div class="strava_statistic">{{ activeFrom.global_rating | number : 1}}</div>
          </div>
        </div>

        <div class="rate_block">
          <ul>
            <li class="rate_item" ng-class="{yellow_rate: isYellow(1), white_rate: !isYellow(1)}" ng-click="changeRating(1)"></li>
            <li class="rate_item" ng-class="{yellow_rate: isYellow(2), white_rate: !isYellow(2)}" ng-click="changeRating(2)"></li>
            <li class="rate_item" ng-class="{yellow_rate: isYellow(3), white_rate: !isYellow(3)}" ng-click="changeRating(3)"></li>
            <li class="rate_item" ng-class="{yellow_rate: isYellow(4), white_rate: !isYellow(4)}" ng-click="changeRating(4)"></li>
            <li class="rate_item" ng-class="{yellow_rate: isYellow(5), white_rate: !isYellow(5)}" ng-click="changeRating(5)"></li>
          </ul>
          <p>your rating</p>
        </div>

        <div class="col_description clearfix">
          <div>
            <p class="altitude">{{activeFrom.altitude}}</p>
            <span>altitude</span>
          </div>
          <div>
            <p class="length">{{activeFrom.length}}</p>
            <span>length</span>
          </div>
          <div>
            <p class="gradient">{{activeFrom.avggradient}}</p>
            <span>gradient</span>
          </div>
        </div>

        <div class="map_block" id="map_block">
        </div>


        <div class="best_time padding_block">
          <div>
            <p class="best_time_block">{{activeFrom.current_user_segment_time | date:'HH:mm:ss':'+0'}}</p>
            <span>your segment time</span>
          </div>
        </div>

        <div style="display:inline-block;width:100%;padding:0" class="forecasted_time_block forecasted_result padding_block clearfix">
          <figure class="left_person" style="height:72px;width:50px;margin:0;padding:0;">
            <img ng-src="{{profile_data.avatar}}" alt="" style="margin:auto;display:block;margin-top:19px ">
          </figure><!--{{profile_data.avatar}}-->
          <div class="forecasted_time_block clearfix" style="position:relative;width:calc(100% - 50px);float:right;padding:0;">
            <div class="orecasted_t" style="width:calc((100% - 50px) / 2);padding: 13px 0 10px 10px;">
              <span>Projected Time</span>
              <h3>{{activeFrom.Projected_segment_time | date:'HH:mm:ss':'+0'}}</h3>
              
            </div>
            <div class="compare_block orecasted_t" style="height:72px;position:relative;width:calc((100% + 50px) / 2);background-color:rgb(129, 255, 129);margin:0;padding: 13px 0 0 0">
              <!--<a><img ng-src={{Compare_member.avatar}} alt="" style="
                border-radius: 50%;
                max-width: 32px;
                max-height: 32px;"></a>-->
                <figure class="left_person" style="height:72px;width:50px;margin:0;padding:0;">
                  <img ng-src="{{Compare_member.avatar}}" alt="" ng-class="{ withoutBorderRadius : !Compare_member.CheckForComparing }" style="margin:auto;display:block;margin-top:8px">
                </figure>
                <div style="margin-left:13px;">
                  <span style="color:black" ng-bind-html="Compare_member.display_name" ng-class="{ marginSpan : !Compare_member.CheckForComparing }"></span>
                  <h3>{{Compare_member.ETime | date:'HH:mm:ss':'+0'}}</h3>
                </div>
            </div>
          </div>
        </div>

        <!--<div class="forecasted_result padding_block person_frd_res clearfix"
             ng-repeat="item in checked_members"
             item="item"> <!--class="item-style"><!--checked_members
          <figure class="left_person">
            <img ng-src={{item.avatar}} alt="">
          </figure>
          <p>{{item.display_name}}</p>
          <ul style="width:100%">
            <li><span>{{item.time | date:'HH:mm:ss':'+0'}}</span></li>
          </ul>
        </div> -->

        <div class="compare_to_other padding_block">
          <p>Compare to other members</p>
          <div class="members_horiz_list">
            <ul>
              <li class="add_to_compare"><a ng-click="ClickCompareMembers()">+</a></li>
              <li ng-repeat="item in members_to_compare"
                  item="item"
                  ng-click="addToCompareUsers(item)"
                  ng-class="{ checked: item.isChecked }">
                <a>
                  <img ng-src="{{item.avatar}}" alt="">
                </a>
                <span>{{item.display_name}}</span>
              </li>
            </ul>
          </div>
        </div>

      </div><!-- /.content_page -->
  </ion-content>
  <div class="content_page compare_list" ng-class="{ hidden: !isCompareMembers}">

    <div class="page_title">
      <button ng-click="ClickCompareMembers()" class="go_back"></button>
      <h4>compare</h4>
    </div><!-- /.page_title -->

    <div class="search_block">
      <form>
        <input type="search" placeholder="&#xf1da; Search" name="search_field" class="search_fld" ng-model="searchText">
      </form>
    </div><!-- /.search_block -->

    <div class="compare_to_other padding_block clearfix">
      <div class="compare_person"
           ng-repeat="item in all_members | filter:{display_name: searchText}"
           item="item"
           ng-click="changeIsChecked(item)"
           ng-class="{ checked: item.isChecked }">
        <figure>
          <img ng-src="{{item.avatar}}" alt="">
        </figure>
        <p>{{item.display_name}}</p>
      </div>

    </div>


    <div class="select_block padding_block" style="z-index:5" ng-click="loadCheckedUsers()"><button>select</button></div>
  </div><!-- /.content_page -->
</ion-view>
