<ion-view hide-nav-bar="true">
  <ion-content >
    <div class="content_page cols_content">
      <div class="page_title">
        <h4>cols</h4>
        <div class="preference_btn" ng-click="GoToColsMap()"><button class="ic_bell" style="background-color:white;"><img src="img/ic_map.png" alt=""></button></div>
      </div><!-- /.page_title -->
      <div class="cols_block">
        <div class="search_block">
          <form>
            <input type="search" placeholder="Search" ng-model="searchText" class="search_fld">
          </form>
        </div>
        <div class="cols_preview" ng-click="ClickCol(MostPopularCol)">
          <div class="most_pop_col_marker" style="width:100%;max-height:600px;">
            <span ng-class="{ check_cols: MostPopularCol.isChecked }"> </span>
            <img ng-src="{{MostPopularCol.image_col}}" alt="" style="width:100%;max-height:430px;">
          </div>
          <div class="cols_preview_description">
            <div>
              <h2>The most popular COL</h2>
              <div class="cols_preview_title">
                <h1>{{MostPopularCol.name_col}} </h1>
                <div class="distance_cols">{{MostPopularCol.height_col}} </div>
              </div>
            </div>
          </div>
        </div><!-- image, isChecked, Name_of_col, height -->
        <div class="cols_container clearfix">
          <div class="cols_item"
               ng-repeat="item in cols_array | filter:{name_col: searchText} | orderBy: '-height_n'"
               item="item"
               ng-click="ClickCol(item)">
            <figure>
              <span ng-class="{ check_cols: item.isChecked }"> </span>
              <img ng-src="{{item.image_col}}" alt="" style="height:100%">
            </figure>
            <div class="cols_item_description">
              <h3>{{ item.name_col }} </h3>
              <p>{{ item.height_col }} </p>
            </div>
          </div><!-- /.cols_item -->
        </div>
      </div><!-- /.cols_block -->
    </div><!-- /.content_page -->
  </ion-content>
</ion-view>
