<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="content_page compare_list">

      <div class="page_title">
        <button ng-click="GoBack()" class="go_back"></button>
        <h4>compare</h4>
      </div><!-- /.page_title -->

      <div class="search_block">
        <form>
          <input type="search" placeholder="Search" name="search_field" class="search_fld">
        </form>
      </div><!-- /.search_block -->

      <div class="compare_to_other padding_block clearfix">

        <div class="compare_person">
          <figure>
            <img src="img/Oval.png" alt="">
          </figure>
          <p>Anna Willis</p>
        </div>
        <div class="compare_person checked">
          <figure>
            <img src="img/Oval.png" alt="">
          </figure>
          <p>Anna Willis</p>
        </div>
        <div class="compare_person">
          <figure>
            <img src="img/Oval.png" alt="">
          </figure>
          <p>Anna Willis</p>
        </div>
        <div class="compare_person checked">
          <figure>
            <img src="img/Oval.png" alt="">
          </figure>
          <p>Anna Willis</p>
        </div>
        <div class="compare_person">
          <figure>
            <img src="img/Oval.png" alt="">
          </figure>
          <p>Anna Willis</p>
        </div>

      </div>

      <div class="select_block padding_block"><button>select</button></div>
    </div><!-- /.content_page -->
  </ion-content>
</ion-view>
