<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="login_block">
            <a href="#" class="go_back"></a>
            <a ng-click="forgot()" class="forgot_passcode_link">Forgot password</a>
            <div class="login_block_outer">
                <div class="login_block_inner">
                    <h3>Welcome back!</h3>
                    <a ng-click="login_facebook()" class="fb_registration">CONTINUE WITH FACEBOOK</a>
                    <form>
                        <span class="form_title">or via e-mail</span>
                        <input type="email" placeholder="Email" ng-model="user.email" class="login_email">
                        <input type="password" placeholder="Password" ng-model="user.password" class="login_password">
                        <input type="submit" ng-click="login()" class="submit_btn_reg" value="sign in">
                    </form>
                </div>
                <div class="about_login">
                    <a ng-click="signup()">
                        <span>Don't you have an<br>account?<br>Create</span>
                    </a>
                </div>
            </div>
        </div><!-- /.login_block -->
    </ion-content>
</ion-view>