<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="content_page feed_main">
      <div class="page_title">
        <h4>feed</h4>
        <div class="preference_btn"><button ng-click="notifications_click()" class="ic_bell" style="background-color:white;"><img ng-class="{hidden: NewNotifications}" src="img/ic_bell.png" alt="" ><img ng-class="{hidden: !NewNotifications}" src="img/ic_bell_2.png" alt="" ></button></div>
      </div><!-- /.page_title -->
      <div class="tabs_block clearfix">
        <ul>
          <li ng-class="{ active: !isMyActivity }" ng-click="membersActivityTab()" style="width:50%"><span>Members' activities</span></li>
          <li ng-class="{ active: isMyActivity }" ng-click="myActivityTab()"  style="width:50%"><span>My activities</span></li>
        </ul>
      </div>
      <div class="all_post_block">

        <ion-list>
          <ion-item type="item-text-wrap"
                    ng-repeat="item in item_array"
                    item="item">
            <div class="post_item" ng-click="feed_item_click(item)">
              <header class="post_header clearfix">
                <figure>
                  <img ng-src="{{item.personal_avatar}}" alt="">
                </figure>
                <div class="personal_info">
                  <h5 class="personal_name">{{item.personal_name}}</h5>
                  <p class="event_place">{{item.event_place}}</p>
                  <p class="event_data" style='width:100%'>{{item.event_data | date:'dd MMMM yyyy'}}<!-- at {{item.event_data | date:'h:mm a'}}--></p>
                  <div class="event_description">
                    <span class="distance" style="padding-left:0">{{item.distance}}</span>
                    <span class="event_time">{{item.event_time | date:'HH:mm:ss':'+0'}}</span>
                    <span class="best_event_time">{{item.projected_time | date:'HH:mm:ss':'+0'}}</span>
                  </div>
                </div><!-- /.personal_info -->
              </header>
              <div class="event_image">
                <img ng-src="{{item.event_image}}" alt="" style="width:100%;max-height:430px;">
              </div>
            </div><!-- /.post_item -->
            <div class="statistic_block">
              <div ng-click="LikePost(item)" class="like_block"><img src="img/like.png" alt="" ng-class="{hidden: item.liked_by_user}"><img src="img/like_click.png" alt="" ng-class="{hidden: !item.liked_by_user}"><span>{{item.likes_count}}</span></div>
              <div class="comment_block"><img src="img/message_ico.png" alt=""><span>{{item.comments_count}}</span></div>
            </div>
          </ion-item>
        </ion-list>

      </div><!-- /.all_post_block -->
    </div><!-- /.login_block -->
  </ion-content>
</ion-view>

