<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="content_page feed_main">
      <div class="page_title">
        <button ng-click="goBack()" class="go_back"></button>
        <h4>ride details</h4>
        <div class="preference_btn" ng-click="Edit()"><button class="ic_bell" style="background-color: white;" ng-class="{hidden: !checkForAuthorizy(selected_feed_item.user_id)}"><img src="img/ic_more.png" alt=""></button></div>
      </div><!-- /.page_title -->
      <div class="all_post_block">
        <div class="post_item">
          <header class="post_header clearfix">
            <figure>
              <img ng-src="{{selected_feed_item.personal_avatar}}" alt="">
            </figure>
            <div class="personal_info">
              <h5 style="width:70vw" class="personal_name" ng-click="openProfile()">{{selected_feed_item.personal_name}}</h5>
              <p class="event_data feed_item" style="width:50vw">{{selected_feed_item.event_data | date:'dd MMMM yyyy'}}</p>
            </div><!-- /.personal_info -->
          </header>
          <div class="event_image">
            <img ng-src="{{selected_feed_item.event_image}}" alt="" style="width:100%;max-height:430px;">
          </div>
        </div><!-- /.post_item -->
        <div class="place_title">
          <h3 style='width:calc(100% - 60px);'>{{selected_feed_item.event_place}}</h3>
          <p> {{selected_feed_item.from_place}}</p>
          <div class="star_block">
            <a href="#"><img src="img/Star.png" alt=""></a>
            <span>{{selected_feed_item.rate | number : 1}}</span>
          </div>
        </div><!-- /.place_title -->
        <div class="options_block clearfix">
          <div class="distance_block">
            <h3>{{selected_feed_item.distance}}</h3>
            <span>distance</span>
          </div>
          <div class="time_block">
            <h3>{{selected_feed_item.event_time | date:'HH:mm:ss':'+0'}}</h3>
            <span>time</span>
          </div>
        </div><!-- /.options_block -->
        <div class="forecasted_time_block clearfix">
          <div class="orecasted_t">
            <h3>{{selected_feed_item.projected_time | date:'HH:mm:ss':'+0'}}</h3>
            <span>Your Projected Time</span>
          </div>
          <div class="compare_block" ng-click="compareToOtherMembers()" style="padding-top:30px;padding-bottom:25px;background-color:rgb(129, 255, 129);">
            <a href="#"><img src="img/compare.png" alt=""></a>
            <span>Compare to other<br>members</span>
          </div>
        </div>
        <div class="statistic_block">
          <div class="like_block"><img ng-src={{PathToLikeImg}} alt="" ng-click="LikePost()"><span>{{selected_feed_item.likes_count}}</span></div>
          <div class="comment_block"><img src="img/message_ico.png" alt=""><span>{{selected_feed_item.comments_count}}</span></div>
        </div>
        <div class="comments_block">
          <div class="comments_list">
            <div class="comment_item" 
                ng-repeat="item in feedItemComments"
                item="item">
              <header class="post_header clearfix">
                <figure>
                  <img ng-src="{{item.avatar}}" alt="">
                </figure>
                <div class="personal_info">
                  <h5 class="personal_name" style="width:80vw;"><b>{{item.display_name}}</b><span> {{item.commentary}}</span></h5>
                  <p class="event_data" style="width:40vw;">{{item.date | date:'MMMM d'}} at {{item.date | date:'h:mm a'}} </p>
                </div><!-- /.personal_info  October 4 at 1:48pm -->
              </header>
            </div>
          </div><!-- /.comments_list -->
          <div class="new_comment">
            <header class="post_header clearfix">
              <figure>
                <img ng-src="{{profile_data.avatar}}" alt="">
              </figure>
              <div class="comment_message">
                <input id="CommentInput" ng-model="commentaries.comment" type="text" placeholder="Write a comment" name="comment_text" ng-keypress="WriteComment($event)">
              </div><!-- /.personal_info -->
            </header>
          </div>
        </div><!-- /.comments_block -->
      </div><!-- /.all_post_block -->
    </div><!-- /.login_block -->
</ion-content>
    <div class="black_wrap" ng-class="{ hidden: !visible }" ng-click="Edit()"></div>
    <div class="options" ng-class="{ hidden: !visible }">
      <div class="options-btn-top">
        <button class="change_btn" ng-click="changeCoverPhoto()">Change cover photo</button>
        <button class="delete_btn" ng-click="DeleteThisPost()">Delete</button>
      </div>
      <div class="options-btn-bottom">
        <button class="cancel_btn" ng-click="Edit()">Cancel</button>
      </div>
    </div>
</ion-view>
