<ion-view view-title="Login">
  <ion-content>
      <ion-scroll>
<div class="login_block">
    <a href="#" class="go_back"></a>
    <a href="#" class="forgot_passcode_link">Forgot password</a>
    <div class="login_block_outer">
      <div class="login_block_inner">
        <h3>Welcome back!</h3>
        <a href="#" class="fb_registration">CONTINUE WITH FACEBOOK</a>
        <form>
          <span class="form_title">or wia e-mail</span>
          <input type="email" placeholder="Email" class="login_email">
          <input type="password" placeholder="Password" class="login_password">
          <input type="submit" class="submit_btn_reg" value="sign up">
        </form>
      </div>
      <div class="about_login">
        <span>Don't you have an<br>account?</span>
      </div>
    </div>
  </div><!-- /.login_block -->
      </ion-scroll>
  </ion-content>
</ion-view>

