<ion-view hide-nav-bar="true">
    <ion-content style="text-align: center">
        <div class="index_wrapper">
            <header>
                <div class="logo_block">
                    <div>
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                </div><!-- /.logo_block -->
            </header>
            <footer>
                <div class="main_footer">
                    <h1>A cycling <br>community <br>for those of us <br>hunting <br>high!</h1>
                    <div class="footer_btn">
                        <button type="button" class="login_btn" ng-click="login()">log in</button>
                        <button type="button" class="sign_up_btn" ng-click="signup()">sign up</button>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.main_footer -->
            </footer>
        </div><!-- /.index_wrapper -->
    </ion-content>
</ion-view>
