<ion-view hide-nav-bar="true">
  <ion-content>
  <div class="content_page">
    <div class="page_title">
      <button class="close_btn" ng-click="GoBack()"></button>
      <h4>notifications</h4>
    </div><!-- /.page_title -->
    <div class="notification_list">
      <div class="not_item clearfix"
           ng-repeat="item in notificationItems"
           item="item" ng-class="{ notification_block_yellow: item.isYellowMarked }">
        <figure>
          <img ng-src="{{item.personal_avatar}}" style="width:32px;height:32px;border-radius:50%" alt="">
        </figure>
        <div class="notification_block">
          <div class="notification_text" compile="item.text">
          </div>
        </div><!-- /.notification_block -->
      </div>
    </div>
  </div><!-- /.content_page -->
</ion-content>
</ion-view>

