<ion-view hide-nav-bar="true">
    <ion-content>
    <div class="page_title">
        <a class="nav_link cancel_link" ng-click="goBack()">Cancel</a>
        <h4>Notifications</h4>
        <a class="nav_link done_link" ng-click="saveSettings()">Done</a>
    </div><!-- /.page_title -->
    <div class="profile_settings_block padding_block">
        <div class="checkbox_item_field additional_margin">
            <div class="notification_field">
                <span class="notification_edit" style="width: 75%">Receive newsletters</span>
                <div class="switch square color-switch checkbox_item">
                    <label>
                        <input type="checkbox" ng-model="checks.receive_newsletters">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div><!-- /.notification_block -->
        <div class="social_email">
            <p>Social Emails</p>
        </div>
        <div class="checkbox_item_field">
            <div class="notification_field">
                <span class="notification_edit" style="width: 75%">When someone likes my<br>activities</span>
                <div class="switch square color-switch checkbox_item">
                    <label>
                        <input type="checkbox" ng-model="checks.notificate_likes">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div><!-- /.notification_block -->
        <div class="checkbox_item_field">
            <div class="notification_field">
                <span class="notification_edit" style="width: 75%">When someone comments on<br>one of my activities</span>
                <div class="switch square color-switch checkbox_item">
                    <label>
                        <input type="checkbox" ng-model="checks.notificate_comments">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div><!-- /.notification_block -->
    </div>
</ion-content>
</ion-view>
