<ion-view hide-nav-bar="true">
    <ion-content>
    <div class="content_page">
        <div class="content_page">
            <div class="page_title feed_main">
                <a class="close_btn arrow_title" ng-click="goBack()"></a>
                <h4>Settings</h4>
            </div><!-- /.page_title -->
        </div>
        <div class="block_notis padding_block">
          <div class="notification_field clearfix" ng-click="editProfile()">
            <a><span class="notification_edit">Edit profile</span></a>
            <button class="right_arrow_button"></button>
          </div>
          <div class="notification_field clearfix" ng-click="notificationsSettings()">
            <a><span class="notification_edit">Notifications</span></a>
            <button class="right_arrow_button"></button>
          </div>
          <div class="notification_field clearfix" ng-click="termsConditions()">
            <a><span class="notification_edit">Terms and conditions</span></a>
            <button class="right_arrow_button"></button>
          </div>
        </div>
    </div><!-- /.content_page -->
</ion-content>
</ion-view>
