<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="false">
    <div class="content_page">
      <div class="page_title">
        <h4>Profile</h4>
        <div class="preference_btn"><button class="ic_bell" style="background-color: white;" ng-click="profileMore()" ng-class="{hidden:!mmm.isMyProfile}"><img src="img/ic_more.png" alt=""></button></div>
      </div><!-- /.page_title -->
    </div>
    <header class="post_header clearfix border_profile">
      <figure class="photo_profile">
        <img style="width:19vmax;height:19vmax;" ng-src="{{user_profile_data.avatar}}" alt=""><!--{{user_profile_data.avatar}}-->
      </figure>
      <div class="profile_info">
        <h5 class="profile_name">{{user_profile_data.displayname}}</h5><!--{{user_profile_data.displayname}}-->
        <p class="event_place">{{user_profile_data.country}}</p>
        <div class="event_value">
          <span class="value">{{user_profile_data.user_col_level}}</span><!--{{user_profile_data.user_col_level}}-->
          <span class="value_img"><img ng-click="redirectToStrava()" src="img/strava.png" alt=""> </span>
          <span class="value_img"><img ng-click="redirectToInstagram()"  src="img/instagram.png" alt=""> </span>
        </div>
      </div><!-- /.personal_info -->
    </header>
    <div class="three_columns_block padding_block clearfix">
      <div class="info">
        <p class="info_title">{{highest_col}}m</p>
        <span>Highest Col</span>
      </div>
      <div class="info">
        <p class="info_title">{{cur_user_number_of_cols}}</p>
        <span>Cols done</span>
      </div>
      <div class="info">
        <p class="info_title">{{user_profile_data.ftp}}w</p>
        <span>FTP</span>
      </div>
    </div>
    <div class="all_post_block">
      <ion-list>
        <ion-item type="item-text-wrap"
                  ng-repeat="item in my_activities"
                  item="item">
          <div class="post_item" ng-click="feed_item_click(item)">
            <header class="post_header clearfix">
              <figure>
                <img ng-src="{{item.personal_avatar}}" alt="">
              </figure>
              <div class="personal_info">
                <h5 class="personal_name">{{item.personal_name}}</h5>
                <p class="event_place">{{item.event_place}}</p>
                <p class="event_data" style='width:100%'>{{item.event_data | date:'dd MMMM yyyy'}}</p>
                <div class="event_description">
                  <span class="distance" style="padding-left:0">{{item.distance}}</span>
                  <span class="event_time">{{item.event_time | date:'HH:mm:ss':'+0'}}</span>
                  <span class="best_event_time">{{item.projected_time | date:'HH:mm:ss':'+0'}}</span>
                </div>
              </div><!-- /.personal_info -->
            </header>
            <div class="event_image">
              <img ng-src={{item.event_image}} alt="" style="width:100%;max-height:430px;">
            </div>
          </div><!-- /.post_item -->
          <div class="statistic_block">
            <div class="like_block" ng-click="LikePost(item)"><img src="img/like.png" alt="" ng-class="{hidden: item.liked_by_user}"><img src="img/like_click.png" alt="" ng-class="{hidden: !item.liked_by_user}"><span>{{item.likes_count}}</span></div>
            <div class="comment_block"><img src="img/message_ico.png" alt=""><span>{{item.comments_count}}</span></div>
          </div>
        </ion-item>
      </ion-list>
    </div><!-- /.all_post_block -->
  </ion-content>
</ion-view>
