<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="content_page save_col">

      <div class="page_title">
        <a ng-click = "goBack()" class="nav_link cancel_link">Cancel</a>
        <h4>save col</h4>
        <a ng-click = "SaveCol()" class="nav_link done_link">Save</a>
      </div><!-- /.page_title -->

      <div class="bigger_title padding_block">
        <h1>{{colName}} </h1>
      </div>

      <div class="cal_parameters_block">
        <div class="clearfix">
          <div class="name_of_parameters">Segment</div>
          <div class="param_data">
              <select class="ChooseSegment" ng-model="Post.selectedSegment" data-ng-options="x.from_name for x in segments"></select>
          </div>
        </div>
        <div class="clearfix">
          <div class="name_of_parameters">Date</div>
          <div class="param_data"><!-- 18 November, 4:32 PM
            <input class="dateTimeEvent" ng-model="Post.date"
             type="datetime-local" style="width:100%;background-color:yellow;">
            <div style="width:250px" ng-class="{InValidTime : errorDate}" ion-datetime-picker ng-model="Post.date">{{ Post.date | date:'d MMMM, HH:mm a'}}</div>-->
            <div ng-class="{InValidTime : errorDate}" style="display:inline;overflow-x:auto;" class="param_data" ng-click="ChangeDateTime()">{{ Post.date | date:'dd MMMM yyyy'}}</div>
          </div>
        </div>
        <div class="clearfix">
          <div class="name_of_parameters">Time</div>
          <div class="param_data"><!-- 4:22:11 -->
            <input class="elapsedTime" style="font-size:17px" type="tel" ng-model="Post.ElapsedTime"
                   placeholder="00:00:00" ng-class="{InValidTime : errorTime}" maxlength="8" ng-keyup="InputTime()">
          </div>
        </div>
      </div>
      <!--<div class="compare_to_other padding_block" ng-click="SetImage()" ng-class="{NoPhoto : NoPhoto}">
        <ul>
          <li class="add_to_compare"><a>+</a></li>
          <li><span>Add a photo </span></li>
        </ul>
      </div>-->
      <p ng-class="{hidden: isSuccess(1)}" style="color:green;width:100%;text-align:center;font-size:20px;margin-top:25px;">Your results was succesfull added</p>
      <p ng-class="{hidden: isSuccess(2)}" style="color:red;width:100%;text-align:center;font-size:20px;margin-top:25px;">You already done a segment of this col</p>
    </div><!-- /.content_page -->
  </ion-content>
</ion-view>

