<ion-view hide-nav-bar="true">
    <ion-content>
<div class="content_page shop_content">
  <div class="page_title">
    <h4>shop</h4>
    <div class="preference_btn"><button class="ic_bell" style="background-color:rgba(0,0,0,0)"><img src="img/ic_calc2.png" alt=""></button></div>
  </div><!-- /.page_title -->
  <div class="shop_block">
    <div class="cols_container clearfix">
      <div class="cols_item" ng-repeat="item in shop_items"
           item="item"
           ng-click="ClickItem(item)">
        <figure>
          <img ng-src="{{item.photo}}" alt="">
        </figure>
        <div class="cols_item_description">
          <h3>{{item.name}}</h3>
          <p><span ng-bind-html="item.price"></span></p>
        </div>
      </div><!-- /.cols_item -->
    </div>
  </div><!-- /.cols_block -->
</div><!-- /.content_page -->
</ion-content>
</ion-view>

