<ion-view hide-nav-bar="true">
  <ion-content>
  <div class="registration_block">
    <div class="registration_title">
      <a href="#" class="go_back"></a>
      <h3>Welcome to the club!</h3>
    </div>
    <div class="reg_block_outer">
      <div class="reg_block_inner">
        <a ng-click="login_facebook()" class="fb_registration">CONTINUE WITH FACEBOOK</a>
        <span class="form_title" style="width:100%;margin-bottom:16px">or via e-mail</span>
        <form style="margin-top:6px;">
          <input style="width:100%;margin-bottom:6px;padding:20px 3px;" type="text" placeholder="Name" ng-model="register.user_name" class="ger_name">
          <input style="width:100%;margin-bottom:6px;padding:20px 3px;" type="email" placeholder="Email" ng-model="register.user_email" class="ger_email">
          <input style="width:100%;margin-bottom:6px;padding:20px 3px;" type="password" placeholder="Password" ng-model="register.user_password" class="ger_password">
          <input style="width:100%;padding:20px 3px;" type="password" placeholder="Confirm password" ng-model="register.user_password_conf" class="ger_confirm_pwd">
          <input style="width:100%" type="submit" ng-click="register()" class="submit_btn_reg" value="sign up">
        </form>
      </div>
    </div>
    <div class="about_reg">
      <span style="width:100%">By clicking ‘Sign up’, I agree<br>to<br>Terms of Service</span>
    </div>
  </div><!-- /.login_block -->
  </ion-content>
</ion-view>
