<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-only">

    <!-- Profile Tab -->
    <ion-tab icon-on="ic_feed_on" icon-off="ic_feed_off" href="#/tab/feed">
      <ion-nav-view name="tab-feed"></ion-nav-view>
    </ion-tab>

    <!-- DeuxMille Tab -->
    <ion-tab icon-on="ic_col_on" icon-off="ic_col_off" href="#/tab/cols">
        <ion-nav-view name="tab-cols"></ion-nav-view>
    </ion-tab>

    <!-- Calculation Tab -->
    <ion-tab icon-on="calculation_on" icon-off="calculation_off" href="#/tab/shop">
        <ion-nav-view name="tab-shop"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab icon-on="profile_on" icon-off="profile_off" href="#/tab/profile">
        <ion-nav-view name="tab-profile" ng-click="loadUserProfile()"></ion-nav-view>
    </ion-tab>

</ion-tabs>
