/* reset style */

* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1;
    color: #151515;
  font-size: 14px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */


input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #E7DA85;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  background: #252933;
  border-radius: 50%;
  border: 2px solid #E7DA85;
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 500px;
  left: -502px;
  top: 8px;
  background: #777;
}
*::-webkit-input-placeholder {
  color: #151515;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
}
*:-moz-placeholder {
  color: #151515;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
}
*::-moz-placeholder {
  color: #151515;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #151515;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
}
input, button, a {
    border: none;
    outline: none;
}
ul {
    list-style-type: none;
}
ol, ul {
    list-style: none;
}
a {
  text-decoration: none;
  color: #151515;
}
a:visited, a:active, a:focus, a:hover {
    text-decoration: none;
    outline: none;
}
h5, h3, h2 {
  font-weight: normal;
}

/**** main style *********/

.index_wrapper {
    width: 100%;
    height: 100%;
    background: url("../img/login_bg.jpg") center no-repeat;
    background-color: #4867AB;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.logo_block {
    padding: 0 30px;
}
.logo_block > div {
  background-color: #ffee30;
    padding: 22px 0;
    text-align: center;
}
.main_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}
.footer_btn button {
  width: 50%;
  display: block;
  float: left;
  font-size: 17px;
  text-transform: uppercase;
  padding: 16px 0;
  height: 82px;
}
.sign_up_btn {
  background-color: #ffee30;
}
.login_btn {
  background-color: #ffffff;
}

/**** login page ****/

.registration_block {
  position: relative;
  background-color: #ffee30;
  padding: 20px 0 10px;
}
.registration_title {
  padding: 0 30px;
  position: relative;
}
.go_back, .close_btn {
  background: url("../img/ic_back_black.png") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}
.close_btn {
  background: url("../img/ic_close.png") no-repeat;
}
.page_title .go_back, .close_btn {
  position: absolute;
  top:20px;
  left: 20px;
}
.registration_title h3 {
  margin: 25px auto 0;
  max-width: 600px;
}
h3 {
  text-transform: uppercase;
  font-size: 23px;
}
.fb_registration {
  text-align: center;
  display: block;
  line-height: 56px;
  text-decoration: none;
  background-color: #3041FF;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 25px;
  font-size: 17px;
}
.reg_block_outer {
  position: absolute;
  width: 100%;
  padding: 0 30px;
  top: 20px;
}
.reg_block_inner {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 15px;
}
span.form_title {
  font-size: 11px;
  text-transform: uppercase;
}ioni
.reg_block_inner input, .login_block_inner input {
  display: block;
  line-height: 48px;
  height: 48px;
  width: 100%;
  border: 1px solid #000000;
  padding: 0 20px;
  margin: 10px 0;
  background-color: transparent;
}
.reg_block_inner input[type="submit"], .login_block_inner input[type="submit"] {
  background-color: #000000;
  line-height: 56px;
  height: 56px;
  color: #ffee30;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 25px;
}
.about_reg {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.about_reg span, .about_login span {
  line-height: 1.3;
  display: inline-block;
}


/******* login *******/

.login_block {
  position: relative;
  padding: 20px 30px 10px;
}
.login_block_outer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
}
.login_block_inner {
  max-width: 600px;
  margin: 0 auto;
}
.login_block h3 {
  text-align: left;
  margin-bottom: 50px;
}
.login_block_inner {
  text-align: center;
}
.about_login {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.login_block_inner input {
  border: 1px solid #DEDEDE;
  margin: 13px 0;
}
.login_block_inner span {
  margin-bottom: 13px;
  display: inline-block;
}
.login_block_inner input[type="submit"] {
 background-color: #ffee30;
  border: none;
  color: #151515;
  margin-bottom: 30px;
}
.forgot_passcode_link {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 18px;
  text-align: right;
  line-height: 1.3;
  display: inline-block;
  max-width: 90px;
}


/********* feed ********/

.page_title {
  position: relative;
  padding: 15px 20px;
  min-height: 60px;
  border-bottom: 1px solid #DEDEDE;
}
.page_title h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.preference_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.tabs_block {
  border-bottom: 1px solid #DEDEDE;
}
.tabs_block ul {
  display:flex;
}
.tabs_block li {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 14px 10px 2px;
  border-bottom: 4px solid transparent;
  min-height: 45px;
}
.tabs_block li.active {
  border-color: #ffee30;
}
.tabs_block li.active span {
  color: #000000;
}
.tabs_block li span {
  text-transform: uppercase;
  font-size: 13px;
  color: #999999;
}

/* post_header */
.post_header {
  padding: 15px 20px;
}
.post_header figure {
  float: left;
  margin-right: 20px;
  text-align: left;
}
.post_header figure img {
  border-radius: 50%;
  max-width: 32px;
  max-height: 32px;
}
.personal_info {
  float: left;
}
.personal_name {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.personal_info p {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-top: 3px;
}

/* event_description */

.event_description {
  padding: 15px 0 5px;
}
.event_description span {
  font-size: 14px;
  display: inline-block;
  padding: 3px 0;
  color: #000000;
  margin-right: 20px;
}
.event_description span.best_event_time {
  background-color: #ffee30;
  padding: 3px 5px;
  margin-right: 0;
}
.event_image img {
  width: 100%;
}
.statistic_block {
  border-bottom: 1px solid #DEDEDE;
  padding: 20px;
  font-size: 14px;
  color: #999999;
}
.statistic_block > div {
  display: inline-block;
}
.like_block {
  margin-right: 50px;
}
.statistic_block img {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px;
}
.statistic_block span {
  display: inline-block;
  line-height: 16px;
}

/******* feed_item *********/

.place_title {
  position: relative;
  padding: 25px 20px;
  border-bottom: 1px solid #DEDEDE;
}
.star_block {
  position: absolute;
  right: 20px;
  top: 28px;
}
.star_block img {
  float: left;
  margin-right: 10px;
}
.star_block span {
  float: left;
  display: inline-block;
  line-height: 26px;
}
.distance_block {
  border-right: 1px solid #DEDEDE;
}
.distance_block, .time_block, .orecasted_t, .compare_block  {
  width: 50%;
  float: left;
  padding: 20px 0 20px 20px;
}
.compare_block {
  padding-top: 37px;
  padding-right: 10px;
}
.options_block span {
  color: #9A9A9A;
  font-size: 11px;
  text-transform: uppercase;
}
.forecasted_time_block {
  background-color: #ffee30;
}
.orecasted_t span {
  text-transform: uppercase;
  font-size: 11px;
}
.orecasted_t h3 {
  margin-bottom: 3px;
}
.compare_block a {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.compare_block span {
  color: #3041FF;
  font-size: 12px;
}
.comments_list {
  padding: 5px 0;
}
.comments_block figure {
  margin-right: 15px;
}
.comments_block h5 {
  margin: 5px 0;
}
.comments_block .post_header {
  padding: 5px 20px;
}
.new_comment {
  padding: 7px 0;
  border-top: 1px solid #DEDEDE;
}
.new_comment figure {
  padding-right: 0;
  text-align: left;
  position: absolute;
  top: 5px;
  left: 20px;
}
.comment_message {
  padding-left: 45px;
}
.comment_message input {
  border: 1px solid #DEDEDE;
  border-radius: 25px;
  width: 100%;
  padding: 0 10px;
}
.new_comment header {
  position: relative;
}

.black_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.4);
}
.options {
  position: fixed;
  bottom: 6px;
  left: 8px;
  right: 8px;
}
.options button {
  color: #007AFF;
  font-size: 20px;
  width: 100%;
  height: 57px;
}
.options-btn-top button {
  background: #e6e6e6;
}
.cancel_btn {
  background: #ffffff;
  border-radius: 10px;
}
.options-btn-top {
  margin-bottom: 6px;
}
.change_btn {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 1px;
}
.delete_btn {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #FF3B30!important;
}

/****** notifications *****/

.not_item figure {
  position: absolute;
  top: 10px;
  left: 20px;
  text-align: left;
}
.not_item.active {
  background: #FFEE30;
}
.not_item.active figure {
  border: 1px solid #000000;
  border-radius: 50%;
  background: url("../img/black_star.png") center no-repeat;
  width: 38px;
  height: 38px;
}
.not_item.active h5 {
  display: block;
}
.not_item.active figure img {
  display: none;
}
.not_item.active .notification_text {
  opacity: 0;
}
.not_hidden_block {
  display: none;
  position: absolute;
  top: 8px;
}
.not_item.active .not_hidden_block {
  display: block;
}
.notification_block {
  padding-left: 50px;
}
.notification_block_yellow {
  background-color:yellow;
}
.not_item {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DEDEDE;
  min-height: 62px;
}
.not_item h5 {
  margin-bottom: 0;
  display: inline-block;
}
.not_item span {
  line-height: 1.3;
}

/********* album page **********/

.album_content .page_title {
  border-bottom: 0;
}
.nav_link {
  font-size: 17px;
  position: absolute;
  top: 22px;
}
.done_link {
  right: 20px;
}
.cancel_link {
  left: 20px;
}
.gallery_item {
  width: 25%;
  border: 1px solid #ffffff;
  padding-bottom: 25%;
  position: relative;
  float: left;
}
.gallery_item img, .gallery_item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.clicked_img {
  border:2px solid #0000ff;
}
/**** media query ***/

@media screen and (max-height: 500px) {
  .main_footer br {
    display: none;
  }
  .main_footer h1 {
    max-width: 400px;
  }
  .footer_btn {
    margin-top: 30px;
  }
}

.tabs .tab-item .icon.ic_feed_on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_feed_on.png');
  background-size:contain;

}

.tabs .tab-item .icon.ic_feed_off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_feed_off.png');
  background-size:contain;
}

.tabs .tab-item .icon.ic_col_on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_col_on.png');
  background-size: contain;
}

.tabs .tab-item .icon.ic_col_off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_col_off.png');
  background-size: contain;
}

.tabs .tab-item .icon.calculation_on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_calc_on.png');
  background-size:contain;
}

.tabs .tab-item .icon.calculation_off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_calc_off.png');
  background-size:contain;
}

.tabs .tab-item .icon.profile_on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_profile_on.png');
  background-size:contain;
}

.tabs .tab-item .icon.profile_off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/Tabs/ic_profile_off.png');
  background-size:contain;
}

.hidden {
  display:none;
}
.scroll{height: 100%;}

/******* cals *******/

.cols_content .page_title {
  border-bottom: none;
}
.search_block {
  position: relative;
}
input.search_fld[type="search"] {
  height: 48px;
  border: none;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 2px;
  background:#F7F7F7;
}

.search_fld:-moz-placeholder {
  text-align: center;
  color: #999999;
}
.search_fld:-ms-input-placeholder {
  text-align: center;
  color: #999999;
}
.search_fld::-webkit-input-placeholder {
  text-align: center;
  color: #999999;
}
.cols_preview {
  padding: 20px;
  border-bottom: 1px solid #DEDEDE;
  position: relative;
}
.cols_preview img {
  width: 100%;
}
.cols_preview_description {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}
.cols_preview_description h2 {
  margin: 20px 0 0 20px;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFEE30;
  font-weight: bold;
}
.cols_preview_description > div {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: bold;
}
.cols_preview_title {
  position: absolute;
  bottom: 1px;
  left: 20px;
  font-weight: bold;
}
.cols_preview_title h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: bold;
}
span.distance {
  padding: 3px 5px;
  display: inline-block;
  font-size: 14px;
}
.distance_cols {
  padding: 12px 15px 12px 30px;
  background: url("../img/altitude.png") 15px 12px no-repeat #FFEE30;
  display: inline-block;
  font-size: 14px;
}
.cols_container {
  padding: 10px;
}
.cols_item {
  width: 50%;
  float: left;
  padding: 10px;
}
.cols_item figure {
  overflow: hidden;
  width: 100%;
  padding-bottom: 68%;
  position: relative;
  margin-bottom: 10px;
}
.cols_item figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cols_item_description h3 {
  font-size: 14px;
  font-weight: bold;
}
.cols_item_description p {
  font-size: 12px;
  color: #999999;
}
.check_cols {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/icon.png") no-repeat center #FFEE30;
  z-index: 5;
  border-radius: 50%;
}
/*** col_detail ****/

.col_detail {
  position: relative;
  }
  .col_detail .page_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 0;
  }
  .col_detail .cols_preview {
  padding: 0;
  }
  .col_detail .go_back {
  background: url("../img/ic_back_white.png") no-repeat;
  }
  .col_detail .cols_preview_title {
  left: 0;
  }
  .col_detail .cols_preview_description {
  bottom: 0;
  }
  .col_detail .cols_preview {
  border-bottom: 0;
  }
  .col_detail .cols_preview_title h1 span.checked {
  display: inline-block;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background: url(../img/icon.png) no-repeat center #FFEE30;
  z-index: 5;
  border-radius: 50%;
  }
  .most_pop_col_marker{
    position: relative;
  }
  .see_on_strava {
  padding: 0 20px;
  }
  .strava_block {
  position: relative;
  border-bottom: 1px solid #DEDEDE;
  padding: 16px 0;
  }
  .strava_block a {
  padding-left: 30px;
  background: url("../img/strava.png") no-repeat;
  color: #999999;
  font-size: 14px;
  line-height: 22px;
  display: block;
  }
  .strava_statistic {
  position: absolute;
  right: 0;
  top: 13px;
  line-height: 22px;
  height: 22px;
  padding-left: 30px;
  background: url("../img/ic_star.png") no-repeat 0 0;
  }
  .rate_block {
  text-align: center;
  border-bottom: 1px solid #DEDEDE;
  padding: 20px 20px 8px;
  }
  .rate_item {
  display: inline-block;
  margin: 0 3px;
  width: 24px;
  height: 24px;
  }
  .rate_item.yellow_rate {
  background: url("../img/ic_star.png") no-repeat 0 0;
  }
  .rate_item.white_rate {
  background: url("../img/ic_star.png") no-repeat 0 -34px;
  }
  .rate_block p {
  margin-top: 10px;
  text-transform: uppercase;
  }
  .col_description {
  padding: 20px 0;
  }
  .col_description > div {
  width: 33%;
  float: left;
  text-align: center;
  }
  .col_description p {
  font-size: 18px;
  margin-bottom: 5px;
  }
  .col_description span {
  font-size: 11px;
  text-transform: uppercase;
  }
  .best_time {
  background: rgb(255, 255, 255);
  color: #000000;
  }
  .best_time > div {
  background: url("../img/ic_clock2.png") no-repeat 0 center;
  padding-left: 40px;
  min-height: 30px;
  }
  .best_time_block {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 2px;
  }
  .best_time span {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 11px;
  }
  .left_person {
  float: left;
  margin-right: 20px;
  }
  .left_person img {
  border-radius: 50%;
  max-width: 32px;
  max-height: 32px;
  }
  span.marginSpan {
    padding-top:125px;
  }
  .left_person img.withoutBorderRadius {
    border-radius: 0%;
    max-width: 32px;
    max-height: 32px;
    }

  .forecasted_result p {
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
  }
  .forecasted_result li span {
  font-size: 18px;
  text-transform: none;
  }
  .forecasted_result li {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  }
  .forecasted_result li:first-child {
  margin-right: 10px;
  }
  .person_frd_res {
  border-bottom: 1px solid #DEDEDE;
  }
  .person_frd_res p {
  text-transform: none;
  }
  .person_frd_res li span {
  font-size: 13px;
  }
  .person_frd_res li:first-child {
  margin-right: 20px;
  }

.members_horiz_list {
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
}
div.compare_to_other.padding_block.clearfix {
  max-height: 50vh;
  min-height: 50vh;
  height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.compare_to_other ul {
  margin-top: 15px;
  height: 100px;
  width: 100%;
  white-space: nowrap;
}
.compare_to_other ul li {
  font-size: 30px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: 64px;
  display:inline-block;
  white-space: normal;
}
.compare_to_other ul li a {
  display: block;
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.compare_to_other ul li:first-child a {
  border: 1px solid #DEDEDE;
  vertical-align:middle;
  line-height:60px;
}
.compare_to_other ul li:first-child {
  float:left;
}
.compare_to_other ul li img {
  width: 100%;
  border-radius: 50%;
}
.compare_to_other ul li span {
  font-size: 11px;
  display: block;
  line-height: 1.2;
  float: left;
  width: 64px;
}

  .compare_person {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
  height: 96px;
  }
  .compare_person.checked figure:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/ic_done.png") no-repeat center rgba(0,0,0,0.4);
  border-radius: 50%;
  }
  .compare_person figure {
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
  }
  .compare_person img {
  width: 100%;
  }
  .compare_person p {
  font-size: 11px;
  line-height: 1.2;
  }
  .select_block {
  background: #FFEE30;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  }
  .select_block button {
  text-transform: uppercase;
  background: transparent;
  }
  .padding_block {
  padding: 20px;
  }
  .bigger_title h1 {
  font-size: 35px;
  color: #151515;
  font-weight: normal;
  padding: 10px 0;
  margin: 0;
  }
  .bigger_title {
  border-bottom: 1px solid #DEDEDE;
  }
  .cal_parameters_block > div {
  padding: 15px 20px;
  border-bottom: 1px solid #DEDEDE;
  display: table;
  width: 100%;
  }
  .name_of_parameters, .param_data {
  display: table-cell;
  font-size: 18px;
  }
  .name_of_parameters {
  width: 30%;
  color: #999999;
  }
  .save_col .compare_to_other li {
  width: auto;
  white-space:unset;
  }
  .save_col .compare_to_other li span {
  line-height: 64px;
  font-size: 14px;
  color: #999999;
  display:block;
  width:85px;
  text-align:left;
  }
  div.content_page.compare_list {
    margin-top:27vh;
    position:absolute;
    z-index:5;
    width:100%;
    background-color:white;
    height:73vh;
  }
  .map_block {
    width: 100%;
    height: 223px;
  }
  .save_col span.InValidTime {
    border:2px solid red;
  }
  .save_col input.InValidTime {
    border:2px solid red;
  }
  .reg_block input.InValidTime {
    border:2px solid red;
  }
  .save_col div.NoPhoto {
    border:2px solid red;
  }

  .save_col .param_data select.ChooseSegment {
    border:none;
    background-color:white;
    font-size:17px;
    margin-left:-4px
  }
  .save_col .param_data input[type='datetime-local'].dateTimeEvent {
    position:absolute;
    /*opacity:0.0;*/
    font-size:17px;
    top:220px;
  }
  .save_col .elapsedTime:-moz-placeholder {
    font-size:17px;
    color: #999999;
  }
  .save_col .elapsedTime:-ms-input-placeholder {
    font-size:17px;
    color: #999999;
  }
  .save_col .elapsedTime::-webkit-input-placeholder {
    font-size:17px;
    color: #999999;
  }
  /**** profile ***/

.border_profile {
  padding: 20px;
  border-bottom: 1px solid #DEDEDE;
}
figure.photo_profile img {
  border-radius: 0;
  max-width: 96px;
  max-height: 96px;
}
.profile_info .profile_name {
  margin: 0;
  color: #151515;
  font-size: 29px;
  font-weight: 700;
}
.profile_info p {
  line-height: 1.3;
}
.three_columns_block {
  border-bottom: 1px solid #DEDEDE;
}
.three_columns_block > div {
  width: 33%;
  text-align: center;
  float: left;
}
.three_columns_block .info_title {
  font-size: 18px;
  font-weight: 700;
}
.three_columns_block span {
  font-size: 10px;
}
.event_value {
  padding-top: 20px;
}
.event_value .value {
  padding: 3px 13px 0 12px;
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  background-color: #FFEE30;
}
.value_img {
  margin-left: 15px;
  width: 15px;
}
.value_description {
  color: #999999;
  font-size: 14px;
  margin-left: 3px;
}
.event_padding .event_description {
  padding: 10px 0 0;
}

/**** profile_more ***/

.arrow_title {
  background: url("../img/ic_back_black.png") no-repeat;
}
.notification_field {
  border-bottom: none;
  padding: 15px 0;
  position: relative;
}
.notification_edit {
  color: #101010;
  font-size: 18px;
}
.notification_arrow {
  font-size: 26px;
  float: right;
}
.right_arrow_button {
  display: inline-block;
  float: right;
  width: 22px;
  height: 18px;
  background: url("../img/arrow_right.png") no-repeat center;
}

/**** settings ***/

.change_photo_profile {
  color: #999999;
  font-size: 14px;
  padding-top: 36px;
  display: inline-block;
}
.reg_block {
  width: 100%;
  padding: 0 20px;
}
.reg_block .reg_block_inner input,
.reg_block .reg_block_inner textarea,
.reg_block .reg_block_inner select,
.checkout_form input,
.checkout_form select {
  margin: 7px 0 22px;
}
.reg_block .fb_registration {
  background: #fc4b1d;
  font-weight: 700;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.profile_form input, .profile_form select, .profile_form textarea, .checkout_form input, .checkout_form select {
  width: 80%;
  height: 48px;
  border: 1px solid #dddddd;
  padding: 2px 5px 2px 15px;
  background: #fff;
}
.profile_form textarea {
  height: 100px;
}
.form-row {
  text-align: left;
}
.form-row label {
  display: block;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.profile_form .ger_gender.blue_gender_btn {
  background: #3041ff;
  color: #ffffff;
}
.profile_form .ger_gender {
  color: #999999;
  font-size: 13px;
  font-weight: 700;
  float: right;
  width: 49%;
  max-width: none;
  height: 48px;
  padding: 0;
}
.border_line {
  margin-bottom: 25px;
  border-bottom: 1px solid #DEDEDE;
}
.reg_block_inner select, .checkout_form select  {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow_down.png) no-repeat 94% center transparent;
}
.reg_block_inner select.choose_city{
  background: url(../img/arrow_down.png) no-repeat 94% center transparent;
}
.profile_form input.choose_city,
.profile_form select.choose_city, .checkout_form input.choose_city, .checkout_form select.choose_city  {
  width: 60%;
  max-width: 160px;
  height: 48px;
}

/**** settings_notification ***/

.additional_margin .notification_field {
  margin: 30px 0 40px;
  min-height: 27px;
}
.checkbox_item_field .notification_field span{
  line-height: 24px;
  vertical-align: middle;
  display: inline-block;
}
.checkbox_item_field .notification_field .checkbox_item{
  height: 24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  right: 0;
}
.social_email p {
  color: #151515;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
}
.switch label {
  cursor: pointer;
}
.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch.color-switch label input[type=checkbox]:checked + .lever {
  background-color: #3041FF;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #dccfe2;
}
.switch.square label .lever {
  width: 45px;
  height: 24px;
  border-radius: 0;
}
.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #DEDEDE;
  border-radius: 15px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
}
.switch label {
  cursor: pointer;
}
.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 21px;
  left: -5px;
  top: -3px;
  -webkit-transition: left .3s ease,background ease,box-shadow .1s ease;
  transition: left .3s ease,background ease,box-shadow .1s ease;
}
.switch.square label .lever:after {
  width: 20px;
  height: 20px;
  border-radius: 0;
  left: 2px;
  top: 2px;
}
.switch label input[type=checkbox]:checked+.lever:after {
  left: 23px;
}
.switch.color-switch label input[type=checkbox]:checked + .lever:after {
  background: white url("../img/icon.png") no-repeat center;
}

/*** shop page ***/

.shop_block figure {
  padding-bottom: 100%;
}
.shop_block .cols_item_description h3 {
  text-transform: capitalize;
}
.cols_item_description p {
  text-transform: uppercase;
}
.shop_block h2 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 0 10px;
}

/*** product ***/

.item_preview img {
  width: 100%;
  margin-bottom: 20px;
}
.item_preview_title h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 29px;
}
.item_preview_price {
  text-transform: uppercase;
  font-size: 18px;
}
.info_block {
  border-top: 1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 20px;
}
.size_block {
  display: table;
  width: 100%;
}
.size_inner_block{
  display: table-row;
}
.size_inner_block > div {
  text-align: center;
  max-width: 0;
  border-spacing: 2px;
  display: table-cell;
  padding: 0 3px;
}

.size_inner_block > div p {
  height: 48px;
  line-height: 48px;
  border: 1px solid #DEDEDE;
}
.product_content {
  padding: 0 20px;
}
.info_block p {
  line-height: 1.3;
  font-size: 14px;
}
.info_block > p {
  margin-bottom: 10px;
}
.size_block {
  padding: 20px 0;
}
.size_block p {
  font-size: 13px;
  text-transform: uppercase;
}
.size_inner_block .disabled p {
  background: rgb(207, 207, 207);
}
.size_inner_block .active p {
  background: #3041FF;
  color: #fff;
}
.size_block a {
  color: #9A9A9A;
}
.yellow_button {
  margin: 20px 0 10px;
  padding: 15px;
  background: #FFEE30;
  text-transform: uppercase;
  width: 100%;
}

/***** cart page ***/

.total_price_block {
  text-transform: uppercase;
  font-size: 17px;
  display: table;width: 100%;
}
.row_block {
  display: table-row;
}
.col_block {
  padding: 5px 0;
  display: table-cell;
  min-width: 0;
}
.total_price, .total_price h5 {
  font-size: 23px;
}
.total_sum {
  text-align: right;
}
.product_item_description figure {
  float: left;
  width: 32px;
  overflow: hidden;
  margin: 0 23px 0 9px;
}
.product_item_description figure img {
  width: 100%;
}
.product_item_description h6 {
font-size: 14px;
}
.product_item_description p {
  color: #999999;
}
.product_count {
  margin-top: 10px;
}
input.product_count_fld {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #DEDEDE;
  margin-right: 15px;
  text-align: center;
}
.pr_price {
  margin-top: 5px;
}
.pr_total_price {
  margin-top: 10px;
  font-size: 12px;
}
.product_item {
  padding: 20px 0;
  border-top: 1px solid #DEDEDE;
}
.product_item:first-child {
  border: none;
}
.product_list {
  border-top: 1px solid #DEDEDE;
  padding: 0 20px 20px 20px;
}
/*** checkout page ***/

.checkout_block h2, .order_summary h2 {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 20px;
}
.addressee_block {
  padding-top: 20px;
}
.iti-flag {background-image: url("../intl-tel-input-master/build/img/flags.png");}

.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
  border-right: 1px solid #DEDEDE;
}
.intl-tel-input .selected-flag {
  padding: 0 50px 0 20px!important;
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
  padding-left: 90px!important;
}
.intl-tel-input {
  width: 100%;
}
#phone {
  width: 100%;
}
.addressee_block p {
  font-size: 12px;
  margin: 20px 0 10px;
  color: #9A9A9A;
}
.order_summary .product_list {
  padding-top: 30px;
}
.order_summary .product_item {
  border-bottom: 1px solid #DEDEDE;
  border-top: 0;
}
/***** Page with cols on the map ***/

.map_Cols_page .close_btn {
  background-color:white;
  padding:22px;
  background-position: center;
  z-index:1;
}
div#all_cols_mappppp {
  display:block;
  width:100vw;
  height:100vh;
  z-index:0;
  background-color:rgb(37, 31, 31)
}
.map_Cols_page ul.cols_list {
  padding:0;
  margin:0;
  overflow-y:hidden;
  white-space:nowrap;
  overflow-x:auto;
  position:absolute;
  width:100vw;
  height:110px;
  bottom:3vh;
  z-index:1;
}
.map_Cols_page .cols_list .single_col {
  margin-bottom:0;
  display:inline-block;
  height:96%;
  width:320px;
  white-space:normal;
  background-color:white;
  margin-left:15px;
  padding-top:7px;
  padding-bottom:7px;
}
.map_Cols_page .cols_list .single_col .image_col {
  float:left;width:53%;height:100%;margin-left:2%;position:relative;
}
.map_Cols_page .cols_list .single_col .image_col img {
  width:100%;height:100%;
}
.map_Cols_page .cols_list .single_col .col_description {
  top:0;margin-top:0;float:left;width:42%;height:100%;position:relative;padding:0;padding-left:5px;
}
.map_Cols_page .cols_list .single_col .col_description .col_name {
  margin:0;padding:0;padding-top:1px;top:0;width:100%;font-size:15px;font-weight:bold;
}
.map_Cols_page .cols_list .single_col .col_description .col_height {
  color:#999999;
}
.map_Cols_page .cols_list .single_col .checked_cols {
  border-radius:50%;
  position:absolute;
  display:block;
  top:10%;
  left:80%;
  width:22px;
  height:22px;
  background-color:yellow;
  display:block;
  background: url('../img/icon.png') no-repeat center #FFEE30
}
  /**** media query ***/
  @media screen and (max-height: 500px) {
  .main_footer br {
    display: none;
  }
  .main_footer h1 {
    max-width: 400px;
  }
  .footer_btn {
    margin-top: 30px;
  }
  }
  @media screen and (max-height: 400px) {
  .col_description > div {
    width: 100%;
    float: none;
    margin: 20px 0;
    text-align: center;
  }
  .col_description p {
    margin-bottom: 3px;
  }
  .col_description {
    padding: 5px 0;
  }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {background-image: url("../intl-tel-input-master/build/img/flags@2x.png");}
  }
